.user-detail-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 768px) {
  .user-detail-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
}
}