.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.admin-img {
  width: 90%;
}

.admin-login-image {
  margin-top: -50px;
}

@media screen and (min-width: 900px) {
  .admin-login {
    margin-top: 100px;
  }
}

@media screen and (max-width: 900px) {
  .admin-login {
    margin-top: 50px;
  }

  .admin-login-image {
    margin-bottom: 4rem !important;
  }
}