@media screen and (max-width: 768px) {
    .table-controller {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .action-wrapper {
        width: 100%;
        display: flex;
    }

    .scroll-right {
        display: block !important;
    }
}

.scroll-right {
    display: none;
}