.pdf-row-wrapper {
    flex-wrap: nowrap !important;
}

.cart-float-cta  {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #3b71ca;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-float-cta:hover {
  background-color: #2c5a9f;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

canvas {
  width: 100%; /* Ensures the canvas width adapts to its container */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Avoids extra spacing below the canvas */
}

.pdf-container {
  max-width: 100%;
  overflow: hidden;
}

.overlay {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.8;
  z-index: 2;
}

.main-selectors {
  max-width: 90%;
  flex: 1 1 auto !important; 
  margin: 5% !important;  
  /* margin-left: 5% !important;  
  margin-right: 5% !important;  
  margin-bottom: 5% !important;   */
}

.slider {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: transform 0.3s ease-in-out, width 0.5s ease;
  transform: translateX(100%); /* Closed by default */
}

.download-pdf {
  margin-left: 10px;
}

.expand-btn {
  position: fixed;
  top: 40%;
  color: #fff;
  background: #3b71ca;
  border: 1px solid #e0e0e0;
  transform: translateX(-20%) rotate(-90deg);
  transform-origin: left top;
  text-align: left;
  padding: 0px 50px;
  white-space: nowrap;
  /* font-size: 12px; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.canva2-container {
  margin-top: 5%;
}

@media screen and (max-width: 900px) {
  .slider {
    width: 100%;
  }

  .download-pdf {
    margin-left: 0 !important;
  }

  .overlay-download {
    display: none !important;
  }
  
  .canva2-container {
    margin-top: 20%;
  }

  .total-pricing, .total-pricing-slider {
    padding: 5px !important;
  }

  .sub-price {
    font-size: 5px !important;
  }
  .main-price {
    font-size: 5px !important;
  }

  .slider-price {
    font-size: 12px !important;
  }

  .slider-main-price {
    font-size: 14px !important;
  }

  .mobile-download {
    display: block !important;
  }
}

.mobile-download {
  display: none;
}

.canva-container {
  overflow-y: auto;
  max-height: 100vh;
}

.canva2-container, .canva-container, .pdf-wrapper::-webkit-scrollbar {
  display: none;
}

.canva2-container, .canva-container, .pdf-wrapper {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}


.overlay-download {
  display: block;
  position: fixed;
  right: 50%;
  top: 15%;
  z-index: 999;
}

.total-pricing, .total-pricing-slider {
  display: flex;
  flex-direction: column;
  background: #3b71ca;
  padding: 10px;
  color: #fff;
}

.price-control {
  display: flex;
  justify-content: space-between;
}

.sub-price {
  font-size: 12px;
}


.bottom-sheet-modal .modal-dialog {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  transform: none;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.bottom-sheet-modal .modal-content {
  border-radius: 16px 16px 0 0;
  padding: 1rem;
}

/* Optional: restrict to small screens */
@media (min-width: 768px) {
  .bottom-sheet-modal .modal-dialog {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 38%;
    left: 50%;
    width: auto;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: none;
    width: 400px;
  }

  .bottom-sheet-modal .modal-content {
    border-radius: 8px;
  }
}