.collapse-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 3rem;
}

.dropdown-menu li {
    position: relative;
}
.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}

.cursor-pointer {
    cursor: pointer;
}

.web-connector {
    display: block;
}

.mobile-connector {
    display: none;
}

@media screen and (max-width: 900px) {
    .mobile-connector {
        display: block;
    }

    .web-connector {
        display: none;
    }
}